src/main/resources/xsd/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Address" xmlns:tns="http://www.example.org/Address" elementFormDefault="qualified">

    <complexType name="Address">
    	<sequence>
    		<element name="street" type="string"></element>
    		<element name="city" type="string"></element>
    		<element name="state" type="string"></element>
    		<element name="zipcode" type="string"></element>
    	</sequence>
    </complexType>


    <element name="Address" type="tns:Address"></element>
</schema>